<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kabp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertTestData</display-name>
    <servlet-name>InsertTestData</servlet-name>
    <servlet-class>servlets.InsertTestData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTestData</servlet-name>
    <url-pattern>/InsertTestData</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>servlets.InitListener</listener-class>
  </listener>
</web-app>